
:root {
--color: purple;  
--background-color: pink;
--border: 3px solid rgb(168, 210, 210);
--border-bottom: 1px solid rgb(168, 210, 210);
}

body{
  margin: 0px;
  height: 100%;
  background-image: linear-gradient(rgb(27, 53, 53), rgb(166, 145, 161));
  color: var(--color);
  text-align: center; 
  letter-spacing: normal;
  font-family: sans-serif;
  position: relative;
}

main {
  margin:0px 20px 0 0;
  display:flex; 
}

header {
  background-color:rgb(27, 53, 53); 
  display:flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  height: 40px;
 
}

h1 {
    background-color: var(--background-color);
    padding: 15px 40px;
    margin:10px;
    border-radius: 10px;
    text-transform: uppercase;
    font-style:italic;
}

header nav a:link {
    background-color:var(--background-color);
    margin-right: 15px; 
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    display: inline; 

}

section nav a:link {
    padding: 5px ;
    display:flex; 
    justify-content: space-between;
    text-decoration: none;
}
    
img {
    border:rgb(168, 210, 210);
} 

nav ul {
  display: flex; 
  justify-content: space-between;
  list-style: none;
}

a:visited {
  color: rgb(117, 27, 87);
}

a:hover {
  color: black;
  text-decoration: underline;
  background-color: rgb(168, 210, 210)
}

a:active {
  background-color: var(--background-color);
  font-style: italic
}

h3 {
color: pink;
text-align: right;
font-size: 30px; 
padding:15px;
}

h4 {
  color: rgb(255, 144, 74);
  font-size: 25px;
  text-shadow: 2px 2px 4px #000000;
  text-align: bottom right;
  position: absolute; 
  bottom : 0;
  right: 0;
  padding: 10px;
}

.stretchbar {
  background-image: url("../images/TestImage.jpg");
  background-size: contain;
  background-position: center;
  position: relative;
  padding:50px;
  margin-top:auto;

}

.container {
  display:grid;
  grid-template-columns:1fr 5fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 15px 20px;
  color:rgb(238, 230, 230);
  background-image: linear-gradient(rgb(166, 145, 161), rgb(27, 53, 53));
  margin: 5px; 
  padding: 5px; 
  position: relative;
  max-width: 1100px;
 
}
  
.aside {
border-right: 5px solid rgb(27, 53, 53); 
justify-items: center;  
}

.summary {
  border-bottom: var(--border-bottom);
  padding: 25px;
  font-size: 15px;
  text-align: left;
  line-height: 20px; 
}

.side_box {
height: 500px; 
border-right: 5px solid rgb(27, 53, 53); 
}

.nested {
display:grid; 
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr; 
border-bottom: var(--border-bottom);
height: 500px;
gap: 5px; 
}

.small_card1 {
  border: var(--border);
  background-image: url("../images/Card1.jpg");
  background-size: cover;
  background-position: center;
}

.small_card2 {
  border: var(--border);
  background-image: url("../images/UpdateCard2.jpg");
  background-size: cover;
  background-position: center;
}

.small_card3 {
  background-image: url("../images/Card3.jpg");
  background-size: cover;
  background-position: center;
  border: var(--border);
}

.small_card4 {
  border: var(--border);
  background-image: url("../images/Card4.jpg");
  background-size: cover;
  background-position: center;
}

.Contact_Me {
  display: flex;
  justify-content: center;
  padding: 50px; 
  }

  #list {
    text-shadow: 2px 2px 4px #000000;
  }

#nested_box {
    grid-column: 1/3;
    grid-row: 1/3;
    border: 3px solid rgb(168, 210, 210);
    background-image: url("../images/MainCard.jpg");
    background-size: contain;
    background-position: center;
}



@media screen and (max-width: 992px) {
  header {
    background: #461433;
  }
}

@media screen and (max-width: 768px) {
.stretchbar {
  background-image: url("../Images/PinkWhite.jpg");
  background-size: cover;
  background-position: center;

  }
}

@media screen and (max-width: 576px) {
  .aside, .side_box {
    border-right: 5px solid rgb(228, 172, 40); 
  }
}